<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>New</title>
</head>
<body>

<div class="container">
    <h2 align="center">Update User Account</h2>

    <form method="post" th:action="@{/update/{id}(id=${userAccount.id})}" th:object="${userAccount}">
        <div class="form-group">
            <input type="text" th:field="*{username}" class="form-control" id="exampleInputUsername"
                   aria-describedby="usernameHelp" placeholder="Username">
            <small id="usernameHelp" class="form-text text-muted">Must be 3-16 characters</small>
        </div>
        <div class="form-group">
            <input type="text" th:field="*{password}" class="form-control" id="exampleInputPassword"
                   placeholder="Password">
            <small id="passwordHelp" class="form-text text-muted">Must be 3-16 characters</small>
        </div>
        <div class="form-group">
            <input type="text" th:field="*{firstName}" class="form-control" id="exampleInputFirstName"
                   placeholder="First name">
            <small id="firstnameHelp" class="form-text text-muted">Must be 1-16 characters</small>
        </div>
        <div class="form-group">
            <input type="text" th:field="*{lastName}" class="form-control" id="exampleInputLastName"
                   placeholder="Last name">
            <small id="lastnameHelp" class="form-text text-muted">Must be 1-16 characters</small>
        </div>

        <div class="form-group">
            <select th:field="*{role}">
                <option th:value="'ADMIN'" th:text="ADMIN"></option>
                <option th:value="'USER'" th:text="USER"></option>
            </select>
        </div>
        <div class="form-group">
            <select th:field="*{status}">
                <option th:value="'ACTIVE'" th:text="ACTIVE"></option>
                <option th:value="'INACTIVE'" th:text="INACTIVE"></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Update User Account</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
</body>
</html>